html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
    margin: 0rem 3%;
    background: #fff;
    --primary: #2d2d2d;
    --secondary: #535353;
}

h2 {
  font-size: 1.2rem;
  color: (var(--primary));
}

h3 {
  font-size: 1rem;
  color: (var(--secondary));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 150%;
}

.banner > img {
  border-radius: 20px;
}

footer {
  background-color: black;
  color: white;
  height: 50vh;
  border-radius: 10px;
  margin: 1.5rem 0rem;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.col-one > p {
  padding: 0.8rem 0rem;
}

.col-two > p {
  padding: 0.8rem 0rem;

}

.col-three {
  padding: 0.8rem 0rem;
}